 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Challenge | Ebay categories</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <style type="text/css">
    .container{
      width: auto;
      max-width: 680px;
      margin-left: auto;
      margin-right: auto
    }
    </style>

  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Category details</h1>
      </div>
      <div> 
        <div>
          <h2>Requested category root.</h2>
        </div>
        <dl class="dl-horizontal">
            <dt>Category ID</dt><dd>{{category[0].categoryid}}</dd>
          <dt>Name</dt><dd>{{category[0].name}}</dd>
          <dt>Best offer enabled</dt><dd>{% if category[0].bestoffer == 1%} True {%else%} False{% endif %}</dd>
        </dl>
      </div>
      <div>
        <div>
          <h2>Category Children.</h2>
        </div>
        {% for children in category recursive%}
        <ul class="list-inline {{loop.cycle('text-info','text-danger')}}">
              <li><b>Id: </b>{{children.categoryid}}</li>
              <li><b>Name: </b>{{children.name}}</li>
              <li><b>Best Offer: </b>{% if children.bestoffer == 1%} True {%else%} False{% endif %}</li>
              {%- if children.children %}
              <li><b>Subcategories: </b><ul>{{ loop(children.children) }}</ul></li>
              {%- endif %}
          </ul>
       {% endfor %}
      </div>
    </div>
  </body>
</html>

